body {
    background-color: aliceblue;
}

h1 {
    color: aqua;
    background-color: cadetblue;
}

main {
    color: lightblue;
    background-color: rgb(112, 112, 112);
}

footer {
    bottom: bottom;
}